<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf8" />
<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body>
	
	<div class="container"><br/><br />
	<div class="col-md-10 col-md-offset-1">
	<div class="panel-primary">
		<div class="panel-heading">Liste des Produits</div>
		<div class="panel-body">
			<form th:action="@{produits}" method="get">
				<div class="form-inline">
					<label for="">mot cle : </label>
					<input type="text" name="motCle" class="form-control" th:value="${mc}" />
					<button type="submit" class="btn btn-primary">rechercher</button>
				</div>
			</form>
			<table class="table table-striped table-hover">
		<thead><tr>
			<th>Id</th><th>Designation</th><th>Prix Unitaire</th><th>Quantite</th><th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p:${produits}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.designation}"></td>
				<td th:text="${p.prix}"></td>
				<td th:text="${p.quantite}"></td>
				<td><a class="btn btn-danger" th:href="@{delete(p=${pc},id=${p.id},motCle=${mc})}">supprimer</a></td>
			</tr>
			
		</tbody>
	</table>
			<ul class="nav nav-pills ">
				<li th:each="page,status:${pages}" th:class="${pc}==${status.index}?'active':''" >
				<a  th:href="@{produits(p=${status.index},motCle=${mc})}" th:text="${status.index}"></a>
				</li>
			</ul>
		</div>
	</div>
	
	</div>
	</div>
	
</body>
</html>